/* GENERALES */

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

/* HEADER */

.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 3px 0;
  box-sizing: border-box;
}

.adalab-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-list {
  font-size: 16px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/* MAIN */

.main {
  background-color: #3cdbc0;
  font-size: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittle {
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  width: 147px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES*/

@media all and (min-width: 768px) {
  .tittle {
    font-size: 40px;
    width: 195px;
  }

  .header {
    padding: 20px 10px 20px 30px;
    flex-direction: row;
    justify-content: space-between;
  }
}
